pytest==4.0.2
more-itertools==5.0.0
six==1.12.0
py==1.7.0
attrs==18.2.0
pluggy==0.8.0
flake8==3.6.0
pyflakes==2.0.0
mccabe==0.6.1
pycodestyle==2.4.0
pydotenv==0.0.7
setuptools==40.6.3
wheel==0.32.3

-r requirements.txt