pytest==4.0.2
more-itertools==5.0.0
six==1.12.0
py==1.7.0
attrs==18.2.0
pluggy==0.8.0
flake8==3.6.0
pyflakes==2.0.0
mccabe==0.6.1
pycodestyle==2.4.0
pydotenv==0.0.7
setuptools==40.6.3
wheel==0.32.3
Pygments==2.3.1
bleach==3.0.2
docutils==0.14
pkginfo==1.4.2
readme-renderer==24.0
requests-toolbelt==0.8.0
tqdm==4.28.1
twine==1.15.0
webencodings==0.5.1


-r requirements.txt